body
{
    background-color: rgb(56 45 40);
}
.headingtitleo
{
    display: inline-block;
    font-size: 541%;
    text-align: center;
    margin-left: 40%;
    color:#babbbb;
    margin-bottom: 0px;
    margin-left: 35%;
    margin-right: 3%;
    margin-top:95px;
}
.dru
{
    display: inline-block;
    width: 120px;
    height: 120px;

}
.headingtitlet
{
    margin-left: 3%;
    margin-top: 0px;
    text-align: center;
    font-size: 541%;
    display: inline-block;
    color:#babbbb;
}
.drumkeys
{
    margin-left:100px;
}
.btn-outline-dark
{
    
    width: 150px;
    height: 150px;
    color: #303030;
    font-size: 650%;
    margin:20px;
    border-radius:15px;
}
.drumW{background-image: url(images/tom1.jfif);}
.drumA{background-image: url(images/tom2);}
.drumS{background-image: url(images/tom3.jpg);}
.drumD{background-image: url(images/tom4.jpg);}
.drumJ{background-image: url(images/snare.jfif);}
.drumK{background-image: url(images/crash.jpg);}
.drumL{background-image: url(images/kick.png);}
#instruction
{
    text-align: center;
    color: white;
}
.pressed
{
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity:0.5;
  color:#00000091;
}
#recordButton:hover{
    background-color:#00ad3f;
}
